/*
Items Name : Macal
Author : Ngetemplates
-------------------------------- */
/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* ------------------------------
  General
---------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: #ffffcc;
  color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  color: #8c7258;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 46px;
  color: #fff;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #464646;
}

a:hover {
  color: red;
}

p {
  margin: 5px 0;
  line-height: 28px;
  letter-spacing: 0.5px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

/* ------------------------------
  loader
---------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #1f1e1a;
}

.loader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader .loading .aloader {
  background: #8c7258;
}

/* ------------------------------
  button
---------------------------------*/
.button {
  padding: 12px 30px;
  background: transparent;
  color: #abedf4;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0;
  border: 1px solid #abedf4;
}

.button:hover {
  background: #abedf4;
  color: #fff;
}

/* ------------------------------
  navbar
---------------------------------*/
.navbar {
  background: #ffffcc;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navbar img {
  height: 34px;
  width: auto;
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-brand span {
  color: red;
}

.navbar .navbar-brand:hover {
  color: #333333;
}

.navbar .navbar-toggler {
  padding: 0;
}

.navbar .navbar-toggler i {
  font-size: 35px;
  color: #fff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-collapse {
  position: relative;
  left: -8px;
}

.navbar .navbar-nav li {
  padding: 0 10px;
}

.navbar .navbar-nav li a {
  color: #8c7258;
}

.navbar .navbar-nav li a:hover {
  color: #fff;
}

.navbar .navbar-nav li .button {
  color: #fff;
  margin-top: -3px;
  display: inline-block;
  margin-right: -15px;
}

.navbar .show .button {
  margin-top: 20px !important;
}

.navbar-nav {
  position: relative;
  right: -28px;
}

.navbar-fixed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(106, 98, 68, 0.32), 0 3px 1px -2px rgba(134, 105, 38, 0.08);
}

/* ------------------------------
 	section-title
---------------------------------*/
.title h5 {
  color: red;
  margin-bottom: 10px;
}

.title h2 {
  margin-bottom: 50px;
}

/* ------------------------------
  intro
---------------------------------*/
.intro {
  padding: 160px 0 100px;
}
.intro h1 span {
  color: #abedf4;
}
.intro .button {
  margin-top: 20px;
}
.intro .img {
  margin-top: 80px;
}
.intro .content {
  text-align: center;
}
.intro .content h1 {
  text-align: center;
  width: auto;
  margin: 0;
}
.intro .content p {
  color: #8c7258;
  font-size: 20px;
}
.intro .button-container {
  text-align: center;
}
.intro .content .button-wrapper {
  text-align: center;
  margin-top: 20px;
}
.product-page-button {
  display: block !important;
  margin: 0 auto !important;
}

/* ------------------------------
  clients
---------------------------------*/
.clients {
  padding: 70px 0;
  background: #8c7258;
}

/* ------------------------------
  about
---------------------------------*/
.about {
  padding: 100px 0;
}
.about .content p {
  margin-bottom: 35px;
  color: #abedf4;
}
.about .content-right p {
  margin-top: 35px;
  color: #abedf4;
}

.about-info {
  text-align: center;
  background: #8c7258;
  padding: 50px 0;
}
.about-info .content i {
  font-size: 50px;
  color: #abedf4;
  margin-bottom: 12px;
}
.about-info .content h5,
.about-info .content p {
  color: #abedf4;
}
.about-info .content p {
  font-weight: 500;
  position: relative;
  top: -12px;
}
.about-info .content-b {
  margin-top: 30px;
}

/* ------------------------------
  features-section
---------------------------------*/
.features-section {
  background: #8c7258;
  padding: 100px 0;
}
.features-section .feature-item {
  padding: 20px;
}
.features-section .feature-item i {
  font-size: 60px;
  color: #abedf4;
  margin-bottom: 20px;
}
.features-section .feature-item h5 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}
.features-section .feature-item p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

/* ------------------------------
  display
---------------------------------*/
.display {
  padding: 100px 0;
}
.display .content {
  padding-right: 40px;
}
.display .content .button {
  margin-top: 30px;
}
.display .row-top {
  margin-bottom: 40px;
}
.display .img1 {
  margin-top: 40px;
}
.display .img4 {
  margin-top: -40px;
}
.display .content p {
  color: #8c7258;
}

/* ------------------------------
  testimonial
---------------------------------*/
.testimonial .swiper {
  background: #24231e;
}
.testimonial .swiper .content {
  text-align: center;
  padding: 32px 25%;
  color: #8c7258;
}
.testimonial .swiper .content span {
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: -12px;
  color: #aaa;
}
.testimonial .swiper .content h5 {
  font-size: 16px;
  color: #fff;
}

/* ------------------------------
  process
---------------------------------*/
.process {
  text-align: center;
  padding: 100px 0;
}
.process h2 {
  padding: 0 30%;
  margin-bottom: 35px;
  color: #abedf4;
}
.process .content {
  padding: 0 30px;
}
.process h1 {
  margin-bottom: 20px;
  color: #abedf4;
}
.process .content p {
  color: #abedf4;
}

/* ------------------------------
  footer
---------------------------------*/
footer {
  background: #abedf4;
  padding: 100px 0 25px;
}
footer iframe {
  width: 80%;
}
footer img {
  height: 34px;
  width: auto;
}
footer .box-content {
  background: #24231e;
  padding: 30px;
  margin-bottom: 75px;
}
footer .box-content h2 {
  color: #fff;
}
footer .box-content .content-button {
  text-align: right;
}
footer .social {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .social li {
  display: inline-block;
}
footer .social li i {
  border: 1px solid #333;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 14px;
  color: #8c7258;
}
footer .social li i:hover {
  color: #fff;
}
footer h6 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
}
footer .link-footer li {
  padding: 4px 0;
}
footer .link-footer li a {
  font-size: 15px;
  color: #ddd;
}
footer .link-footer li a:hover {
  color: #8c7258;
}
footer .content {
  position: relative;
  margin-bottom: 5px;
}
footer .content .icon {
  float: left;
  margin-right: 10px;
}
footer .content .icon i {
  color: #8c7258;
  font-size: 20px;
  margin-top: 10px;
}
footer .content .text {
  overflow: hidden;
}
footer .content .text span {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
footer .content .text p {
  font-size: 15px;
  color: #ddd;
}
footer .cp {
  text-align: center;
  margin-top: 60px;
}

/* ------------------------------
  responsive
---------------------------------*/
@media (max-width: 991px) {
  .navbar-nav {
    right: 0;
    padding-top: 8px;
  }

  .testimonial .swiper .content {
    padding-left: 10%;
    padding-right: 10%;
  }

  .process .content {
    padding: 0 18px;
  }
  footer .social li i {
    border: 1px solid #333;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
    font-size: 26px;
    margin-right: 14px;
    color: #8c7258;
  }
}
@media (max-width: 767px) {
  .process h2 {
    padding: 0 25%;
  }
  .process .content {
    padding: 20px 0 0 0;
  }
  footer h6 {
    margin-top: 30px;
  }
  footer iframe {
    width: 100%;
  } 
}
@media (max-width: 575px) {
  .container {
     padding-left: 30px;
    padding-right: 30px;
  }
  .about img {
    margin-bottom: 30px;
  }

  .about-info .content-b {
    margin-top: 0;
  }

  .process h2 {
    padding: 0 6%;
  }

  footer .box-content .content-button {
    text-align: left;
  }

  footer h6 {
    margin-top: 30px;
  }
  footer iframe {
    width: 100%;
  }

  footer .social li i {
    margin-right: 8px;
  }
}
@media (max-width: 360px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    line-height: 55px;
    font-size: 45px;
  }
  .clients img {
    margin-bottom: 20px;
  }
}

.preorder-text {
  color: #abedf4;
}

.form-label {
  color: #abedf4;
}

.container h2 {
  color: #abedf4;
}

.form-control-custom-width {
  width: 33.33% !important;
  margin: 0 auto !important;
}
